<div class="menus menus-main" role="tablist">
  <div *ngFor="let menu of menus" class="menu menu-main">
    <a [ngClass]="{active:menuChoisi === menu}" (click)="selectMenu(menu)">
      {{ menu.name }}
    </a>
    <div *ngIf="menuChoisi === menu && menu.sousMenus" class="menus sous-menus">
      <div *ngFor="let sousMenu of menu.sousMenus" class="menu sous-menu">
        <a [ngClass]="{active:sousMenuChoisi === sousMenu}" (click)="selectSousMenu(sousMenu)">
        {{ sousMenu.name }}
        </a>
        <div *ngIf="sousMenuChoisi === sousMenu && sousMenu.sousMenus" class="menus sous-sous-menu">
          <div *ngFor="let sousSousMenu of sousMenu.sousMenus" class="menu sous-sous-menu">
            <a [ngClass]="{active:sousSousMenuChoisi === sousSousMenu}" (click)="selectSousSousMenu(sousSousMenu)">
            {{ sousSousMenu.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isSelect('materiel')">
  Le matériel:
  ...
</div>
<div *ngIf="isSelect('pionAlien')">
  Les différents pions / Les alien:
  ...
</div>
<div *ngIf="isSelect('pionDames')">
  Les différents pions / Les dames alien:
  ...
</div>
<div *ngIf="isSelect('deplacementsAlien')">
  Les Déplacements / Les alien:
  ...
</div>
